<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <resource-ref>
        <res-ref-name>jdbc/gamingplatform</res-ref-name> 
        <res-type>javax.sql.DataSource</res-type> 
        <res-auth>Container</res-auth> 
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <display-name>GamingPlatform</display-name>

    <welcome-file-list>
        <welcome-file>index.ftl</welcome-file>
    </welcome-file-list>

    <!-- servlet index -->
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>gamingplatform.controller.Index</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index.ftl</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/index.php</url-pattern>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <!-- fine servlet index -->

    <!-- servlet game -->
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>gamingplatform.controller.Game</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/game/*</url-pattern>
    </servlet-mapping>
    <!-- fine servlet game -->

    <!-- servlet report -->
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>gamingplatform.controller.Report</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>
    <!-- fine servlet report -->

    <!-- servlet edit -->
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>gamingplatform.controller.Edit</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>
    <!-- fine servlet edit -->

    <!-- servlet add -->
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>gamingplatform.controller.Add</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add/*</url-pattern>
    </servlet-mapping>
    <!-- fine servlet add -->

    <!-- servlet doInsert -->
    <servlet>
        <servlet-name>doInsert</servlet-name>
        <servlet-class>gamingplatform.controller.doInsert</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>doInsert</servlet-name>
        <url-pattern>/doInsert/*</url-pattern>
    </servlet-mapping>
    <!-- fine servlet doInsert -->

    <!-- servlet login -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>gamingplatform.controller.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.ftl</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/login.php</url-pattern>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <!-- fine servlet login -->

    <!-- servlet signup -->
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>gamingplatform.controller.Signup</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup.ftl</url-pattern>
        <url-pattern>/signup</url-pattern>
        <url-pattern>/signup.php</url-pattern>
        <url-pattern>/signup.html</url-pattern>
    </servlet-mapping>
    <!-- fine servlet signup -->

    <!-- servlet logout -->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>gamingplatform.controller.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.ftl</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/logout.php</url-pattern>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <!-- fine servlet logout -->

    <error-page>
        <error-code>404</error-code>
        <location>/template/404.html</location>
    </error-page>


    <!-- FreemarkerServlet settings: -->
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

        <!--
          Init-param documentation:
          http://freemarker.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
        -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/WEB-INF/template/</param-value>
        </init-param>

        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>ResponseCharacterEncoding</param-name>
            <!-- Use the output_encoding setting of FreeMarker: -->
            <param-value>fromTemplate</param-value>
        </init-param>

        <init-param>
            <param-name>ExceptionOnMissingTemplate</param-name>
            <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
            <param-value>true</param-value>
        </init-param>

        <!-- FreeMarker engine settings: -->
        <init-param>
            <param-name>incompatible_improvements</param-name>
            <param-value>2.3.25</param-value>
            <!--
              Recommended to set to a high value.
              See: http://freemarker.org/docs/pgui_config_incompatible_improvements.html
            -->
        </init-param>

        <init-param>
            <param-name>template_exception_handler</param-name>
            <!-- Use "html_debug" during development! -->
            <param-value>rethrow</param-value>
        </init-param>

        <init-param>
            <param-name>template_update_delay</param-name>
            <!-- Use 0 during development! Consider what value you need otherwise. -->
            <param-value>0 s</param-value>
        </init-param>

        <init-param>
            <param-name>default_encoding</param-name>
            <!-- The encoding of the template files: -->
            <param-value>UTF-8</param-value>
        </init-param>

        <init-param>
            <param-name>output_encoding</param-name>
            <!-- The encoding of the template output; Note that you must set
                 "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
            <param-value>UTF-8</param-value>
        </init-param>

        <init-param>
            <param-name>locale</param-name>
            <!-- Influences number and date/time formatting, etc. -->
            <param-value>en_US</param-value>
        </init-param>

        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
        <!-- HTML and XML auto-escaped if incompatible_improvements >= 2.3.24: -->
        <url-pattern>*.ftlh</url-pattern>
        <url-pattern>*.ftlx</url-pattern>
    </servlet-mapping>

    <!-- End FreemarkerServlet settings: -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>